<!--  -->
<mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-xs="true">
        <button mat-icon-button>
            <mat-icon (click)="toggleSideNav()">{{menu}}</mat-icon>
        </button>        
    </div>
    <span class="sm-spacer"></span>
    <span>Weather App</span> 
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-sm="true">
        <a routerLinkActive="mat-accent" routerLink="/" mat-button [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        <a routerLinkActive="mat-accent" routerLink="/combined" mat-button>Combined Chart</a>
        <a routerLinkActive="mat-accent" routerLink="/about" href="#" mat-button>About us</a>
    </div>
    
</mat-toolbar>