highcharts-chart {
    height: 25rem;
    width: 100%;
    display: block;
} 

mat-form-field {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 5rem;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

h3 {
    padding: 7rem 2rem;
    color: rgb(19, 19, 19);
    font-size: 1.5rem;
}