<div class="page-header">
  <h3>Weather Dashboard. All Charts</h3>
  <div class="filter-block">
    <div>
      <h4>Here you can select sensor</h4>
      
      <mat-form-field class="select-sensor-form-field">
        <mat-label>Select sensor</mat-label>
        <mat-select value="option5">
          <mat-option (click)="selectTemperature()" value="option1">Temperature</mat-option>
          <mat-option (click)="selectWind()" value="option2">Wind</mat-option>
          <mat-option (click)="selectHumidity()" value="option3">Humidity</mat-option>
          <mat-option (click)="selectLight()" value="option4">Light</mat-option>
          <mat-option (click)="selectAllSingle()" value="option5">Show All</mat-option>
        </mat-select>
      </mat-form-field>
      <h5 *ngIf="!showHide">To change period select Show All</h5>
    </div>

    <div>
      <h4 *ngIf="showHide">Here you can filter All charts by year</h4>
      <mat-form-field *ngIf="showHide" class="year-form-field">
        <mat-label>Start year</mat-label>
        <input matInput type="number" [min]="startMin" [max]="startMax" ng-pattern="/^1234$/" [(ngModel)]="startValue"
          (change)="onChange()">
        <button mat-button *ngIf="startValue" matSuffix mat-icon-button aria-label="Clear" (click)="startValue=null">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field *ngIf="showHide" class="year-form-field">
        <mat-label>End year</mat-label>
        <input matInput type="number" [min]="endMin" [max]="endMax" ng-pattern="/^1234$/" [(ngModel)]="endValue"
          (change)="onChange()">
        <button mat-button *ngIf="endValue" matSuffix mat-icon-button aria-label="Clear" (click)="endValue=null">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>





</div>
<mat-divider></mat-divider>

<div class="grid-wrapper">
  <div *ngFor="let d of data">

    <app-chart [data]="d" [title]="d.name" [categories]="d.categories"></app-chart>

  </div>
</div>